<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "testng-1.0.dtd">
<suite name="SauceDemo Automation Suite" parallel="classes" thread-count="2">
    
    <test name="UI Tests - Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
    
    <test name="UI Tests - Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
    
    <test name="API Tests">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
    
</suite>